<% include partials/header %>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Please check your amount to be paid!</h1>
                  <p class="lead">The loan amount to be paid after a year is :<%=amount%></p>
                </div>
              </div>
</body>


<% include partials/footer %>
